
        /* Todos los elementos de la página */
            {
            font: 1em/1.3 Arial, Helvetica, sans-serif;
        }

        /* Todos los parrafos de la página */
            {
            color: #555;
        }

        /* Todos los párrafos contenidos en #primero */
            {
            color: #336699;
        }

        /* Todos los enlaces la página */
            {
            color: #CC3300;
        }

        /* Los elementos "em" contenidos en #primero */
            {
            background: #FFFFCC;
            padding: .1em;
        }

        /* Todos los elementos "em" de clase "especial" en todala página */
            {
            background: #FFCC99;
            border: 1px solid #FF9900;
            padding: .1em;
        }

        /* Elementos "span" contenidos en .normal */
            {
            font-weight: bold;}